<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>USERS</title>
</head>
<body>
<div>
    <h1>Users</h1>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="user: ${users}">
            <td th:text="${user.getId()}"></td>
            <td><a th:href="@{user/{id}(id=${user.getId()})}" th:text="${user.getName()}">read</a></td>
            <td th:text="${user.getAge()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <form th:method="GET" th:action="@{update-user/{id}(id=${user.getId()})}">
                <td><button type="submit">update</button></td>
            </form>
            <form th:method="DELETE" th:action="@{delete-user/{id}(id=${user.getId()})}">
            <td><button type="submit">delete</button></td>
            </form>
        </tr>
        </tbody>
    </table>
</div>
<p><a href="/create-user">New user</a></p>
</div>
</body>
</html>